.sf {
	display : block;
	color: var(--e-global-color-text);
	
	.hidden {
		display: none!important;
	}

	@at-root &--layout-wide {
		.sf--entry {
			flex-direction  : row;
			flex-wrap       : nowrap;
			justify-content : flex-start;
			align-items     : stretch;
			align-content   : stretch;
			display         : flex;
			border-top      : 1px solid #DDD;

			&:hover {
				background-color: #EFEFEF;
			}

			.sf:last-child {
				border-bottom : 1px solid #DDD;
			}

			// @at-root &__odd {
			// 	background : #EFEFEF;
			// }
		}

		.sf--entry-time {
			display: flex;
			align-items: center;
			flex-grow   : 0;
			flex-shrink : 0;
			padding     : 10px;
			white-space: nowrap;
		}

		

		.sf--entry-sport {
			flex-basis: 160px;
			display: flex;
			align-items: center;
			flex-grow   : 0;
			flex-shrink : 0;
			padding     : 10px;
			min-width: 130px;

			.sf--entry-sport-name {
				margin-left: 5px;
			}

			.sf-icon {
				vertical-align : middle;
			}

			.sf-name {
				vertical-align : middle;
			}
		}

		.sf--entry-information {
			display: flex;
			flex-wrap: wrap;
			flex-grow   : 1;
			flex-shrink : 1;
			padding     : 10px;
		}
		.sf--entry-league {
			flex: 0 1 auto;
		}

		.sf--entry-link {
			flex: 1 1 100%;
			transition : all .22s ease-in-out;
		}

		.sf--watch-now {
			display: flex;
			align-items: center;
			flex-grow   : 0;
			flex-shrink : 0;
			padding     : 10px;

			& a {
				background-color: #23A455;
				color: #FFF;
				font-size: 0.8em;
				white-space: nowrap;
			}


			.sf > a {
				display    : inline-block;
				transition : all .22s ease-in-out;
				
			}
		}

	}

	@at-root &--layout-narrow {
		.sf--entry {
			display               : grid;
			grid-template-columns : 1fr 40px 10fr 1fr 1fr;
			grid-template-areas   : "sf--entry-time sf--entry-sport sf--entry-information sf--entry-live";
			border-top            : 1px solid #DDD;

			&:hover {
				background-color: #EFEFEF;
			}

			.sf:last-child {
				border-bottom : 1px solid #DDD;
			}

		}

		.sf--entry-time {
			grid-area  : sf--entry-time;
			text-align : center;
			
		}


		.sf--entry-sport {
			grid-area  : sf--entry-sport;
			text-align : center;
			align-self: center;

			.sf--entry-sport-name {
				display: none;
			}

			.sf-icon {
				vertical-align : middle;
			}

			.sf-name {
				vertical-align : middle;
			}
		}

		.sf--entry-information {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			grid-area : sf--entry-information;
		}

		.sf--entry-link {
			transition : all .22s ease-in-out;
			flex: 1 1 100%;
		}

		

		.sf--watch-now  {
			align-self: center;
		}
		
		.sf--watch-now a {
			display: block;
			width: 30px;
			height: 30px;
			font-size: 0;
			padding: 0;
			background-image: url("data:image/svg+xml,%3Csvg  xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%2323A455' d='M371.7 238l-176-107c-15.8-8.8-35.7 2.5-35.7 21v208c0 18.4 19.8 29.8 35.7 21l176-101c16.4-9.1 16.4-32.8 0-42zM504 256C504 119 393 8 256 8S8 119 8 256s111 248 248 248 248-111 248-248zm-448 0c0-110.5 89.5-200 200-200s200 89.5 200 200-89.5 200-200 200S56 366.5 56 256z'%3E%3C/path%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-position: 50% 50%;
			opacity: 0.6;
			transition: all .3s;
			white-space: nowrap;
		}
		.sf--watch-now a:hover {
			opacity: 1;
		}
	}

	.sf--entry-league {
		flex: 0 1 auto;
		background-color: #eee;
		font-size: 0.7em;
		padding: 3px 8px;
		border-radius: 5px;
		margin-top: 5px;
	}

	@media(max-width: 768px){
		.sf--entry {
			display               : grid;
			grid-template-columns : 1fr 1fr 1fr;
			grid-template-rows    : auto;
			border-top            : 1px solid #DDD;
			padding: 10px 5px;

			.sf--entry-information {
				grid-column:  1 / 4;
				grid-row: 1 / 2;
			}
			.sf--watch-now {
				grid-column:  3 / 4;
				grid-row: 2 / 3;
				justify-self: center;
			}
			.sf--entry-time {
				grid-column:  1 / 2;
				grid-row: 2 / 3;
				font-size: 0.8em;
				align-self: center;
				& br {
					display: none;
				}
			}
			.sf--entry-sport {
				grid-column:  2 / 3;
				grid-row: 2 / 3;
				font-size: 0.8em;
			}
			.sf--entry-sport-icon {
				font-size: 1.5em;
				margin-left: 10px;
			}

		}
		.sf--entry > div {
			padding: 3px 0px!important;
		
		}
	}
	.sf--entry-sport-icon img {
		display: inline-block;
		max-width: 20px;
		max-height: 16px;
		vertical-align: middle;
	}
}


.sf--top-bar {
	padding: 15px;
	position: relative;

	.sf--live-toggle-container {
		display: flex;
		align-items: center;
	}
	.sf--live-toggle-checkbox {
		margin-right: 30px;

		input[type="checkbox"] {
			display: none;
		}

		input[type="checkbox"] + .sf--live-toggle-switch {
			display: inline-block;
			position: relative;
			width: 42px;
			height: 22px;
			border-radius: 11px;
			background: #C0CCDA;
			cursor: pointer;
			&::before {
				content: '';
				display: block;
				position: absolute;
				width: 20px;
				height: 20px;
				border-radius: 10px;
				top: 1px;
				left: 1px;
				background-color: #fff;
				transition: all 0.3s ease-in-out;
			}
		}
		input[type="checkbox"]:checked + .sf--live-toggle-switch {
			background-color: #20a0ff;
			&::before {
				left: 50%;
			}
		}
	}
	.top-bar-item-name {
		margin-right: 10px;
		white-space: nowrap;
	}
	
	.sf-sport-selector  {
		display: block;
		padding: 2px 0;
		white-space: nowrap;
		border-bottom: 2px solid transparent;
	}
	.sf-sport-selector-all {
		border-bottom: 2px solid transparent;
		white-space: nowrap;
	}
	.sf-sport-selector.active, .sf-sport-selector-all.active {
		border-bottom: 2px solid #20a0ff;
	}
	
	.sf-sport-selector img, .sf-sport-selector-all img {
		display: inline-block;
		max-width: 20px;
		max-height: 16px;
		vertical-align: baseline;
	}

}



@media(min-width: 768px){
	.sf--top-bar {
		display: flex;
		align-items: center;
	}
	.sf-sport-selectors {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0;
		position: relative;
		margin: 0 10px;
		list-style: none;
		max-width: calc(100% - 200px);
		overflow: hidden;
	}
	
	.slick-wrapper {
		max-width: calc(100% - 80px);
	}
	.sf-sport-selector-wrp {
		display: inline-block;
		padding: 5px 15px;
	}
	.sf-sport-selector-wrp a {
		padding: 5px 0px;
	}
	.sf-sport-selectors-toggle {
		display: none;
	}
	
	.slick-arrow, .slick-arrow:hover, .slick-arrow:focus {
		display: block;
		border: none;
		width: 20px;
		height: 40px;
		padding: 0;
		font-size: 0;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		cursor: pointer;
		background-color: #fff;
	}
	
	.slick-arrow.slick-disabled {
		cursor: default;
		opacity: 0.3;
	}
	.slick-next, .slick-next:hover, .slick-next:focus {
		right: -10px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%2323A455' d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z'%3E%3C/path%3E%3C/svg%3E");
	}
	.slick-prev, .slick-prev:hover, .slick-prev:focus {
		left: -10px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%2323A455' d='M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z'%3E%3C/path%3E%3C/svg%3E");
	}
	.sf--entry-live.desktop {
		display: flex;
		min-width: 68px;
		align-items: center;
		justify-content: center;
		margin-left: 5px;
	}
	.sf--entry-live img {
		max-height: 20px;
	}
	.sf--entry-live.mobile {
		display: none;
	}
	.mobile-only {
		display: none;
	}
	
}

@media(max-width: 768px){
	.sf--top-bar {
		display: flex;
	}
	.sf-sport-selectors {
		display: block;
		overflow: hidden;
		max-height: 0;
		position: absolute;
		top: 55px;
		right: 15px;
		padding: 0;
		background-color: #fff;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
		transition: all .5s;
		z-index: 99;
	
		.sf-sport-selector, .sf-sport-selector-all {
			display: block;
			padding: 3px 0px;
			margin: 3px 15px;
		}
		
	}
	.sf-sport-selector-wrp {
		display: block;
		padding: 2px;
	}
	.sf-sport-selector-wrp:first-child {
		margin-top: 10px;
	}
	.sf-sport-selector-wrp:last-child {
		margin-bottom: 10px;
	}
	.sf-sport-selectors.open {
		max-height: 100vh;
	}
	.sf-sport-selectors-toggle {
		display: block;
		position: absolute;
		right: 15px;
		width: 30px;
		height: 30px;
		padding: 0;
		background-color: transparent;
		line-height: 0;
		border: none;
		cursor: pointer;
	}
	.sf-sport-selectors-toggle:hover, .sf-sport-selectors-toggle:focus {
		background: transparent;
	}
	.sf-sport-selectors-toggle span {
		display: inline-block;
		margin: 2px auto;
		height: 4px;
		width: 100%;
		border-radius: 2px;
		background-color: #777;
	}
	.slick-arrow {
		display: none;
	}
	.sf--entry-live.mobile {
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;
	}
	.sf--entry-live img {
		display: block;
		max-height: 16px;
	}
	.sf--entry-live {
		display: none;
	}


}
